[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<3,>=2"
python-decouple = "==3.4"
pytest-django = "==4.4.0"
coverage = "==5.5"
psycopg2 = "<2.9,>=2.8"
whitenoise = "*"
dj-database-url = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
