[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<3,>=2"
pytest-django = "==4.4.0"
python-decouple = "==3.4"
dj-database-url = "*"
psycopg2-binary = "*"
requests = "*"
Pillow = "*"
whitenoise = "*"
psycopg2 = "<2.9,>=2.8"

[dev-packages]
flake8 = "*"
django-extensions = "*"
ipython = "*"
coverage = "==5.5"

[requires]
python_version = "3.8"
