{% extends 'base/base.html' %}
{% load static %}

{% block title %} B2blue - TMDB API integration{% endblock %}



{% block content %}

<header>
    <section class="px-4 py-5 my-5 text-center min-vh-100">
<!--        <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="display-5 fw-bold">The Movie Database API integration</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead my-4">A B2blue test application.</p>
            <p class="lead mb-4">Develop by Rodrigo Delfino de Carvalho, this app will integrate you with TMDB, providing many functionalits in a single click.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'core:top-100'%}" class="btn btn-outline-secondary btn-lg px-4">Check top 100 popular TV shows</a>
            </div>
            <p class="lead my-4">*Explore the series detail, and you'll be able to rating on it from there!</p>
        </div>
    </section>
</header>


{% endblock %}